[
  {
    "ipaddress": "",
    "port": 10099,
    "apiurl": "/api/json?pretty=true",
    "concatenate": true,
    "beforeapi": true,
    "servicefile": "/root/gateway/data.json",
    "protocol": "http",
    "user": "",
    "password": "",
    "usetokenprotection": false,
    "securitytoken": "",
    "usetls": {{ 'true' if gateway_services_tsl_enabled else 'false' }},
    "cacertificatefile": "{{ gateway_services_ca_certificate_file }}",
    "tlsx509certificatefile": "{{ gateway_services_x509_certificate_file }}",
    "tlsx509certificatekeyfile": "{{ gateway_services_x509_key_file }}"

  }
]
