[
  {
    "site" : "Jenkins",
    "address" : "{{ docker_ci_cd_private_ip }}",
    "port" : 8080,
    "protocol": "http",
    "scheme" : "http",
    "type" : "json",
    "override": false,
    "apiuri": "",
    "concatenatepath": false,
    "concatenatebeforeapi": false
  }
]
