{
  "enabled": true,
  "ipaddress": "",
  "serviceaddress": "localhost",
  "port": 10098,
  "protocol": "http",
  "usetokenprotection": false,
  "securitytoken": "",
  "usetls": {{ 'true' if gateway_index_tsl_enabled else 'false' }},
  "cacertificatefile": "{{ gateway_index_ca_certificate_file }}",
  "tlsx509certificatefile": "{{ gateway_index_x509_certificate_file }}",
  "tlsx509certificatekeyfile": "{{ gateway_index_x509_key_file }}"
}
